<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="//dl.mljia.cn/mljia/logo/favicon.ico" type="image/x-icon" />
	<title>同志，你迷路了</title>
	<style>
		.container{
			display: flex;
			flex-direction: column ;
			/* justify-content: center; */
			text-align: center;
		}
		pre{
			display: none;
		}
	</style>
</head>
<body>

<div class="container">
	<h1>[[message]]</h1>
	<h2>[[error.status]]</h2>
	<pre>[[error.stack]]</pre>
</div>



</body>
</html>
